theme "dracula"
pane_frames false
simplified_ui false
mouse_mode true
scroll_buffer_size 10000
copy_command "wl-copy"
copy_on_select true
on_force_close "detach"
support_kitty_keyboard_protocol true

keybinds clear-defaults=true {
    locked { bind "Ctrl g" { SwitchToMode "Normal"; } }
    normal {
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Ctrl p" { SwitchToMode "Pane"; }
        bind "Ctrl t" { SwitchToMode "Tab"; }
        bind "Ctrl n" { SwitchToMode "Resize"; }
        bind "Ctrl s" { SwitchToMode "Scroll"; }
        bind "Ctrl q" { Quit; }
        bind "Ctrl d" { Detach; }
    }
    pane {
        bind "h" { MoveFocus "Left"; }
        bind "l" { MoveFocus "Right"; }
        bind "j" { MoveFocus "Down"; }
        bind "k" { MoveFocus "Up"; }
        bind "n" { NewPane; SwitchToMode "Normal"; }
        bind "d" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "z" { TogglePaneFrames; SwitchToMode "Normal"; }
        bind "Tab" { SwitchFocus; }
    }
    tab {
        bind "h" "Left" { GoToPreviousTab; }
        bind "l" "Right" { GoToNextTab; }
        bind "n" { NewTab; SwitchToMode "Normal"; }
        bind "x" { CloseTab; SwitchToMode "Normal"; }
        bind "1" { GoToTab 1; SwitchToMode "Normal"; }
        bind "2" { GoToTab 2; SwitchToMode "Normal"; }
        bind "3" { GoToTab 3; SwitchToMode "Normal"; }
        bind "4" { GoToTab 4; SwitchToMode "Normal"; }
        bind "5" { GoToTab 5; SwitchToMode "Normal"; }
        bind "6" { GoToTab 6; SwitchToMode "Normal"; }
        bind "7" { GoToTab 7; SwitchToMode "Normal"; }
        bind "8" { GoToTab 8; SwitchToMode "Normal"; }
        bind "9" { GoToTab 9; SwitchToMode "Normal"; }
    }
    resize {
        bind "h" "Left"  { Resize "Increase Left"; }
        bind "l" "Right" { Resize "Increase Right"; }
        bind "j" "Down"  { Resize "Increase Down"; }
        bind "k" "Up"    { Resize "Increase Up"; }
    }
    scroll {
        bind "j" "Down"  { ScrollDown; }
        bind "k" "Up"    { ScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "f" "PageDown" { PageScrollDown; }
        bind "b" "PageUp"   { PageScrollUp; }
        bind "g" { ScrollToTop; }
        bind "G" { ScrollToBottom; }
    }
    entersearch {
        bind "Enter" { SwitchToMode "Search"; }
    }
    search {
        bind "n" { Search "Down"; }
        bind "N" { Search "Up"; }
    }
    session {
        bind "d" { Detach; }
        bind "w" { LaunchOrFocusPlugin "session-manager" { floating true }; SwitchToMode "Normal"; }
    }
    shared_except "locked" {
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Ctrl q" { Quit; }
    }
    shared_except "normal" "locked" {
        bind "Enter" "Esc" { SwitchToMode "Normal"; }
    }
}

themes {
    dracula {
        fg "#f8f8f2"
        bg "#282a36"
        black "#21222c"
        red "#ff5555"
        green "#50fa7b"
        yellow "#f1fa8c"
        blue "#bd93f9"
        magenta "#ff79c6"
        cyan "#8be9fd"
        white "#f8f8f2"
        orange "#ffb86c"
    }
}
